<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock title%} </title>
  </head>
  <body>
    <nav> 
          <a href="{{ url_for('events') }}">Events</a> 
          <a href="{{ url_for('jobs') }}">Jobs</a>
          <a href="{{ url_for('alumni') }}">Alumni</a>
          <a href="{{ url_for('donations') }}">Donations</a>
          <a href="{{ url_for('login') }}">Sign in</a>
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
