{% extends "base.jinja" %}

{% block title %} Oldgrad {% endblock title %}

{% block body %}

<p>Join. Connect. Share.</p>
<p>Help us build a vibrating community with our students and alumni. Mentor our students and lead them to become the best possible version of yourselves. Guide them with your industry leading skills to make them job ready.</p>
{% with alerts = get_flashed_messages()  %}
{% if alerts %}
    {% for alert in alerts %}
        {{ alert }}
    {% endfor %}
{% else %}
{% endif %}
{% endwith %}

{% endblock body %}